@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a.text-white-50:hover {
	color: #fff!important;
}

.carousel-item>img {
	height: 70vh;
}

.modal-title {
	letter-spacing: 3px;
  font-variant: small-caps;
}

label {
	font-weight: bold;
}

.social {
	text-shadow: 1px 1px 1px black;
}

@media (max-width: 576px) {
	.carousel-item>img {
		height: 30vh;
	}
}